@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-zinc-950 text-white antialiased;
    overflow-x: hidden;
  }
}

/* Premium Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* Selection Color */
::selection {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}